* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/OPERATORS -text
/README -text
/acinclude.m4 -text
/aclocal.m4 -text
/cdo.settings.in -text
/cdo.spec -text
/cdo.spec.in -text
config/compile -text
config/config.guess -text
config/config.sub -text
config/default -text
config/depcomp -text
config/install-sh -text
config/ltmain.sh -text
config/missing -text
config/mkinstalldirs -text
/configure -text
/configure.ac -text
contrib/Makefile.am -text
contrib/Makefile.in -text
contrib/cdoCompletion.bash -text
contrib/cdoCompletion.tcsh -text
contrib/cdoCompletion.zsh -text
contrib/makecompl.rb -text
contrib/python/cdo.py -text
contrib/python/setup.py -text
contrib/python/test/cdo.py -text
contrib/python/test/test_cdo.py -text
contrib/ruby/ChangeLog -text
contrib/ruby/README.rdoc -text
contrib/ruby/gemspec -text
contrib/ruby/lib/cdo.rb -text
contrib/ruby/test/test_cdo.rb -text
doc/Doxyfile -text
doc/cdo-poster.pdf -text
doc/cdo.pdf -text
doc/cdoBrochureWeb.pdf -text svneol=unset#unset
doc/cdo_refcard.pdf -text
doc/eca_operator.pdf -text
doc/tex/Modules -text
doc/tex/appendix.tex -text
doc/tex/bib.tex -text
doc/tex/cdo.tex -text
doc/tex/cdo_adv.tex -text
doc/tex/cdo_con.tex -text
doc/tex/cdo_int.tex -text
doc/tex/cdo_ref.tex -text
doc/tex/cdo_ref_over.tex -text
doc/tex/cdoprog.tex -text
doc/tex/cleanup -text
doc/tex/grid.tex -text
doc/tex/grids/cell.gmt -text
doc/tex/grids/cell.grid -text
doc/tex/grids/cell.pdf -text
doc/tex/grids/cell.ps -text
doc/tex/grids/cell1.gmt -text
doc/tex/grids/curv.gmt -text
doc/tex/grids/curv.grid -text
doc/tex/grids/curv.pdf -text
doc/tex/grids/curv.ps -text
doc/tex/grids/curv1.gmt -text
doc/tex/grids/plotjobgmt -text
doc/tex/install.tex -text
doc/tex/logo/cdo_logo.eps -text
doc/tex/logo/cdo_logo.pdf -text
doc/tex/makedoc -text
doc/tex/makehtml -text
doc/tex/makepdf -text
doc/tex/makerefcard -text
doc/tex/missval.tex -text
doc/tex/mod/Arith -text
doc/tex/mod/Arithc -text
doc/tex/mod/Arithdays -text
doc/tex/mod/Change -text
doc/tex/mod/Comp -text
doc/tex/mod/Compc -text
doc/tex/mod/Cond -text
doc/tex/mod/Cond2 -text
doc/tex/mod/Condc -text
doc/tex/mod/Consecstat -text
doc/tex/mod/Copy -text
doc/tex/mod/Daypctl -text
doc/tex/mod/Daystat -text
doc/tex/mod/Detrend -text
doc/tex/mod/Diff -text
doc/tex/mod/EOFs -text
doc/tex/mod/EcaCdd -text
doc/tex/mod/EcaCfd -text
doc/tex/mod/EcaCsu -text
doc/tex/mod/EcaCwd -text
doc/tex/mod/EcaCwdi -text
doc/tex/mod/EcaCwfi -text
doc/tex/mod/EcaEtr -text
doc/tex/mod/EcaFd -text
doc/tex/mod/EcaGsl -text
doc/tex/mod/EcaHd -text
doc/tex/mod/EcaHwdi -text
doc/tex/mod/EcaHwfi -text
doc/tex/mod/EcaId -text
doc/tex/mod/EcaPd -text
doc/tex/mod/EcaR10mm -text
doc/tex/mod/EcaR20mm -text
doc/tex/mod/EcaR75p -text
doc/tex/mod/EcaR75ptot -text
doc/tex/mod/EcaR90p -text
doc/tex/mod/EcaR90ptot -text
doc/tex/mod/EcaR95p -text
doc/tex/mod/EcaR95ptot -text
doc/tex/mod/EcaR99p -text
doc/tex/mod/EcaR99ptot -text
doc/tex/mod/EcaRr1 -text
doc/tex/mod/EcaRx1day -text
doc/tex/mod/EcaRx5day -text
doc/tex/mod/EcaSdii -text
doc/tex/mod/EcaSu -text
doc/tex/mod/EcaTg10p -text
doc/tex/mod/EcaTg90p -text
doc/tex/mod/EcaTn10p -text
doc/tex/mod/EcaTn90p -text
doc/tex/mod/EcaTr -text
doc/tex/mod/EcaTx10p -text
doc/tex/mod/EcaTx90p -text
doc/tex/mod/Enlarge -text
doc/tex/mod/Ensstat -text
doc/tex/mod/Ensstat2 -text
doc/tex/mod/Ensval -text
doc/tex/mod/Eofcoeff -text
doc/tex/mod/Exprf -text
doc/tex/mod/Fdns -text
doc/tex/mod/Filedes -text
doc/tex/mod/Fillmiss -text
doc/tex/mod/Filter -text
doc/tex/mod/Fldcor -text
doc/tex/mod/Fldcovar -text
doc/tex/mod/Fldstat -text
doc/tex/mod/Genweights -text
doc/tex/mod/Gradsdes -text
doc/tex/mod/Gridboxstat -text
doc/tex/mod/Gridcell -text
doc/tex/mod/Hi -text
doc/tex/mod/Histogram -text
doc/tex/mod/Hourpctl -text
doc/tex/mod/Hourstat -text
doc/tex/mod/Hurr -text
doc/tex/mod/Importamsr -text
doc/tex/mod/Importbinary -text
doc/tex/mod/Importcmsaf -text
doc/tex/mod/Info -text
doc/tex/mod/Input -text
doc/tex/mod/Intgrid -text
doc/tex/mod/Intlevel -text
doc/tex/mod/Intlevel3d -text
doc/tex/mod/Inttime -text
doc/tex/mod/Intyear -text
doc/tex/mod/Invert -text
doc/tex/mod/Invertlev -text
doc/tex/mod/Maskbox -text
doc/tex/mod/Maskregion -text
doc/tex/mod/Mastrfu -text
doc/tex/mod/Math -text
doc/tex/mod/Merge -text
doc/tex/mod/Mergegrid -text
doc/tex/mod/Merstat -text
doc/tex/mod/Monarith -text
doc/tex/mod/Monpctl -text
doc/tex/mod/Monstat -text
doc/tex/mod/Ninfo -text
doc/tex/mod/Output -text
doc/tex/mod/Outputgmt -text
doc/tex/mod/Regres -text
doc/tex/mod/Remap -text
doc/tex/mod/Remapeta -text
doc/tex/mod/Remapgrid -text
doc/tex/mod/Replace -text
doc/tex/mod/Replacevalues -text
doc/tex/mod/Rotuv -text
doc/tex/mod/Runpctl -text
doc/tex/mod/Runstat -text
doc/tex/mod/Seaspctl -text
doc/tex/mod/Seasstat -text
doc/tex/mod/Selbox -text
doc/tex/mod/Select -text
doc/tex/mod/Seltime -text
doc/tex/mod/Selvar -text
doc/tex/mod/Set -text
doc/tex/mod/Setbox -text
doc/tex/mod/Setgatt -text
doc/tex/mod/Setgrid -text
doc/tex/mod/Sethalo -text
doc/tex/mod/Setmiss -text
doc/tex/mod/Settime -text
doc/tex/mod/Setzaxis -text
doc/tex/mod/Showinfo -text
doc/tex/mod/Sinfo -text
doc/tex/mod/Smooth9 -text
doc/tex/mod/Sort -text
doc/tex/mod/Specinfo -text
doc/tex/mod/Spectral -text
doc/tex/mod/Split -text
doc/tex/mod/Splitsel -text
doc/tex/mod/Splittime -text
doc/tex/mod/Strbre -text
doc/tex/mod/Strgal -text
doc/tex/mod/Strwin -text
doc/tex/mod/Subtrend -text
doc/tex/mod/Timcor -text
doc/tex/mod/Timcovar -text
doc/tex/mod/Timpctl -text
doc/tex/mod/Timselpctl -text
doc/tex/mod/Timselstat -text
doc/tex/mod/Timsort -text
doc/tex/mod/Timstat -text
doc/tex/mod/Trend -text
doc/tex/mod/Vardup -text
doc/tex/mod/Vargen -text
doc/tex/mod/Vertint -text
doc/tex/mod/Vertstat -text
doc/tex/mod/Wct -text
doc/tex/mod/Wind -text
doc/tex/mod/Writegrid -text
doc/tex/mod/Writerandom -text
doc/tex/mod/Ydayarith -text
doc/tex/mod/Ydaypctl -text
doc/tex/mod/Ydaystat -text
doc/tex/mod/Ydrunpctl -text
doc/tex/mod/Ydrunstat -text
doc/tex/mod/Yearpctl -text
doc/tex/mod/Yearstat -text
doc/tex/mod/Yhourarith -text
doc/tex/mod/Yhourstat -text
doc/tex/mod/Ymonarith -text
doc/tex/mod/Ymonpctl -text
doc/tex/mod/Ymonstat -text
doc/tex/mod/Yseaspctl -text
doc/tex/mod/Yseasstat -text
doc/tex/mod/Zonstat -text
doc/tex/mod/chdoc -text
doc/tex/mod/syntax -text
doc/tex/partab.tex -text
doc/tex/poster/sab-cdo_2011/MPG_SF.pdf -text svneol=unset#unset
doc/tex/poster/sab-cdo_2011/MPIM_SF.pdf -text
doc/tex/poster/sab-cdo_2011/beamerthemeMPIMET.sty -text
doc/tex/poster/sab-cdo_2011/cdo-poster.tex -text
doc/tex/poster/sab-cdo_2011/figures/cdi-structure.graffle -text
doc/tex/poster/sab-cdo_2011/figures/cdi-structure.pdf -text
doc/tex/poster/sab-cdo_2011/figures/cdo-redmine.png -text
doc/tex/poster/sab-cdo_2011/figures/cmsaf.pdf -text svneol=unset#unset
doc/tex/poster/sab-cdo_2011/figures/grids.pdf -text
doc/tex/poster/sab-cdo_2011/figures/grids2.pdf -text
doc/tex/poster/sab-cdo_2011/mpimetcolors.sty -text
doc/tex/ref_intro_arithm.tex -text
doc/tex/ref_intro_climat.tex -text
doc/tex/ref_intro_compar.tex -text
doc/tex/ref_intro_condit.tex -text
doc/tex/ref_intro_correl.tex -text
doc/tex/ref_intro_eofs.tex -text
doc/tex/ref_intro_file_o.tex -text
doc/tex/ref_intro_import.tex -text
doc/tex/ref_intro_inform.tex -text
doc/tex/ref_intro_interp.tex -text
doc/tex/ref_intro_miscel.tex -text
doc/tex/ref_intro_modifi.tex -text
doc/tex/ref_intro_regres.tex -text
doc/tex/ref_intro_select.tex -text
doc/tex/ref_intro_statis.tex -text
doc/tex/ref_intro_transf.tex -text
doc/tex/time.tex -text
doc/tex/usage.tex -text
doc/tex/zaxis.tex -text
m4/acx_options.m4 -text
m4/ax_pthread.m4 -text
m4/libtool.m4 -text
m4/ltoptions.m4 -text
m4/ltsugar.m4 -text
m4/ltversion.m4 -text
m4/lt~obsolete.m4 -text
src/Adisit.c -text
src/Arith.c -text
src/Arithc.c -text
src/Arithdays.c -text
src/Arithlat.c -text
src/CDIread.c -text
src/CDItest.c -text
src/CDIwrite.c -text
src/Cat.c -text
src/CdoMagicsMapper.c -text
src/CdoMagicsMapper.h -text
src/Change.c -text
src/Change_e5slm.c -text
src/Cloudlayer.c -text
src/Command.c -text
src/Comp.c -text
src/Compc.c -text
src/Complextorect.c -text
src/Cond.c -text
src/Cond2.c -text
src/Condc.c -text
src/Consecstat.c -text
src/Copy.c -text
src/Deltime.c -text
src/Derivepar.c -text
src/Detrend.c -text
src/Diff.c -text
src/Duplicate.c -text
src/EOFs.c -text
src/EcaIndices.c -text
src/Echam5ini.c -text
src/Enlarge.c -text
src/Enlargegrid.c -text
src/Ensstat.c -text
src/Ensstat3.c -text
src/Ensval.c -text
src/Eof3d.c -text
src/Eofcoeff.c -text
src/Eofcoeff3d.c -text
src/Exprf.c -text
src/FC.c -text
src/Filedes.c -text
src/Fillmiss.c -text
src/Filter.c -text
src/Fldrms.c -text
src/Fldstat.c -text
src/Fldstat2.c -text
src/Fourier.c -text
src/Gather.c -text
src/Gengrid.c -text
src/Gradsdes.c -text
src/Gridboxstat.c -text
src/Gridcell.c -text
src/Harmonic.c -text
src/Hi.c -text
src/Histogram.c -text
src/Importamsr.c -text
src/Importbinary.c -text
src/Importcmsaf.c -text
src/Importobs.c -text
src/Info.c -text
src/Input.c -text
src/Intgrid.c -text
src/Intgridtraj.c -text
src/Intlevel.c -text
src/Intlevel3d.c -text
src/Intntime.c -text
src/Inttime.c -text
src/Intyear.c -text
src/Invert.c -text
src/Invertlev.c -text
src/Isosurface.c -text
src/Kvl.c -text
src/Log.c -text
src/Maggraph.c -text
src/Magplot.c -text
src/Magvector.c -text
src/Makefile.am -text
src/Makefile.in -text
src/Maskbox.c -text
src/Mastrfu.c -text
src/Math.c -text
src/Merge.c -text
src/Mergegrid.c -text
src/Mergetime.c -text
src/Merstat.c -text
src/Monarith.c -text
src/Mrotuv.c -text
src/Mrotuvb.c -text
src/Ninfo.c -text
src/Nmltest.c -text
src/Output.c -text
src/Outputgmt.c -text
src/Pinfo.c -text
src/Pressure.c -text
src/Regres.c -text
src/Remap.c -text
src/Remapeta.c -text
src/Replace.c -text
src/Replacevalues.c -text
src/Rhopot.c -text
src/Rotuv.c -text
src/Runpctl.c -text
src/Runstat.c -text
src/SSOpar.c -text
src/Scatter.c -text
src/Seascount.c -text
src/Seaspctl.c -text
src/Seasstat.c -text
src/Selbox.c -text
src/Select.c -text
src/Seloperator.c -text
src/Selrec.c -text
src/Seltime.c -text
src/Selvar.c -text
src/Set.c -text
src/Setbox.c -text
src/Setgatt.c -text
src/Setgrid.c -text
src/Sethalo.c -text
src/Setmiss.c -text
src/Setpartab.c -text
src/Setrcaname.c -text
src/Settime.c -text
src/Setzaxis.c -text
src/Showinfo.c -text
src/Sinfo.c -text
src/Smooth9.c -text
src/Sort.c -text
src/Sorttimestamp.c -text
src/Specinfo.c -text
src/Spectral.c -text
src/Spectrum.c -text
src/Split.c -text
src/Splitrec.c -text
src/Splitsel.c -text
src/Splittime.c -text
src/Splityear.c -text
src/StringUtilities.c -text
src/StringUtilities.h -text
src/Subtrend.c -text
src/Tee.c -text
src/Templates.c -text
src/Test.c -text
src/Tests.c -text
src/Timcount.c -text
src/Timpctl.c -text
src/Timselpctl.c -text
src/Timselstat.c -text
src/Timsort.c -text
src/Timstat.c -text
src/Timstat2.c -text
src/Timstat3.c -text
src/Tinfo.c -text
src/Tocomplex.c -text
src/Transpose.c -text
src/Trend.c -text
src/Trms.c -text
src/Tstepcount.c -text
src/Vardup.c -text
src/Vargen.c -text
src/Varrms.c -text
src/Vertint.c -text
src/Vertstat.c -text
src/Vertwind.c -text
src/Wct.c -text
src/Wind.c -text
src/Writegrid.c -text
src/Writerandom.c -text
src/YAR.c -text
src/Ydayarith.c -text
src/Ydaypctl.c -text
src/Ydaystat.c -text
src/Ydrunpctl.c -text
src/Ydrunstat.c -text
src/Yhourarith.c -text
src/Yhourstat.c -text
src/Ymonarith.c -text
src/Ymonpctl.c -text
src/Ymonstat.c -text
src/Yseaspctl.c -text
src/Yseasstat.c -text
src/Zonstat.c -text
src/cdo.c -text
src/cdo.h -text
src/cdo_int.h -text
src/cdo_pthread.c -text
src/cdo_vlist.c -text
src/cdotest.c -text
src/color.c -text
src/color.h -text
src/commandline.c -text
src/config.h.in -text
src/const.h -text
src/counter.h -text
src/dmemory.h -text
src/dtypes.h -text
src/ecacore.c -text
src/ecacore.h -text
src/ecautil.c -text
src/ecautil.h -text
src/error.h -text
src/etopo.h -text
src/exception.c -text
src/expr.c -text
src/expr.h -text
src/expr_lex.c -text
src/expr_lex.l -text
src/expr_yacc.c -text
src/expr_yacc.h -text
src/expr_yacc.y -text
src/field.c -text
src/field.h -text
src/field2.c -text
src/fieldc.c -text
src/fieldmem.c -text
src/fieldmer.c -text
src/fieldzon.c -text
src/fouriertrans.c -text
src/functs.h -text
src/gradsdeslib.c -text
src/gradsdeslib.h -text
src/grid.c -text
src/grid.h -text
src/grid_gme.c -text
src/grid_lcc.c -text
src/grid_rot.c -text
src/griddes.c -text
src/griddes.h -text
src/griddes_h5.c -text
src/griddes_nc.c -text
src/hetaeta.c -text
src/hetaeta.h -text
src/history.c -text
src/institution.c -text
src/interpol.c -text
src/interpol.h -text
src/job.c -text
src/juldate.c -text
src/kvlist.c -text
src/kvlist.h -text
src/legendre.c -text
src/list.c -text
src/list.h -text
src/magics_template_parser.c -text
src/magics_template_parser.h -text
src/mask.h -text
src/merge_sort2.c -text
src/merge_sort2.h -text
src/modules.c -text
src/modules.h -text
src/namelist.c -text
src/namelist.h -text
src/normal.c -text
src/nth_element.c -text
src/nth_element.h -text
src/operator_help.h -text
src/par_io.c -text
src/par_io.h -text
src/percentiles.c -text
src/percentiles.h -text
src/pipe.c -text
src/pipe.h -text
src/printinfo.h -text
src/process.c -text
src/process.h -text
src/pstream.c -text
src/pstream.h -text
src/pstream_int.h -text
src/pthread_debug.c -text
src/pthread_debug.h -text
src/readline.c -text
src/realtime.c -text
src/remap.h -text
src/remaplib.c -text
src/remapsort.c -text
src/results_template_parser.c -text
src/results_template_parser.h -text
src/specspace.c -text
src/specspace.h -text
src/statistic.c -text
src/statistic.h -text
src/table.c -text
src/temp.h -text
src/template_parser.c -text
src/template_parser.h -text
src/timebase.h -text
src/timer.c -text
src/userlog.c -text
src/util.c -text
src/util.h -text
src/vinterp.c -text
src/vinterp.h -text
src/yacc_lex -text
src/zaxis.c -text
test/.checklib_pyunittest -text
test/Makefile.am -text
test/Makefile.in -text
test/README -text
test/testStreams.py -text
test/test_Arith.py -text
test/test_Arithc.py -text
test/test_Selvar.py -text
test/test_area.c -text
test/test_diff.py -text
test/test_info.py -text
test/test_intgridbil.py -text
test/test_operators -text
