#=================================
#           CDO
#=================================
#==== Uncategorized ==============

*~
*.dSYM
.deps
.dirstamp
stamp-h1
TAGS
tags

#====== Objects and libs =========
*.la
*.lo
*.o
.libs
#=================================

#==== Test files =================
*.log
*.trs
*.test
#=================================

#==== Autogen files ==============
Makefile
#----- aclocal files -----
aclocal.m4
autom4te.cache
#----- configure files ---
configure
config.h.in
config.log
config.status
config.h

#---- Makefiles.in ---------------
Makefile.in
#=================================

#==== Documentation pdfs =========
cdo.pdf
cdo_eca.pdf
cdo_magics.pdf
cdo_cmor.pdf
cdo_refcard.pdf
cdo_libdep.pdf

#---- html folder ----------------
doc/html/
#=================================
