* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/OPERATORS -text
/README -text
/aclocal.m4 -text
config/config.guess -text
config/config.sub -text
config/default -text
config/depcomp -text
config/install-sh -text
config/missing -text
config/mkinstalldirs -text
/configure -text
/configure.ac -text
src/Arith.c -text
src/Arithc.c -text
src/Arithdays.c -text
src/Cat.c -text
src/Change.c -text
src/Comp.c -text
src/Compc.c -text
src/Cond.c -text
src/Cond2.c -text
src/Condc.c -text
src/Copy.c -text
src/Detrend.c -text
src/Diff.c -text
src/Enlarge.c -text
src/Ensstat.c -text
src/Exprf.c -text
src/Filedes.c -text
src/Fillmiss.c -text
src/Fldrms.c -text
src/Fldstat.c -text
src/Gradsdes.c -text
src/Histogram.c -text
src/Info.c -text
src/Input.c -text
src/Intgrid.c -text
src/Intgridtraj.c -text
src/Inttime.c -text
src/Intyear.c -text
src/Invert.c -text
src/Makefile.am -text
src/Makefile.in -text
src/Maskbox.c -text
src/Mastrfu.c -text
src/Math.c -text
src/Merge.c -text
src/Mergegrid.c -text
src/Mergetime.c -text
src/Merstat.c -text
src/Ninfo.c -text
src/Nmltest.c -text
src/Output.c -text
src/Outputgmt.c -text
src/Pinfo.c -text
src/Remap.c -text
src/Replace.c -text
src/Rotuv.c -text
src/Runstat.c -text
src/Seasstat.c -text
src/Selbox.c -text
src/Select.c -text
src/Selrec.c -text
src/Selstat.c -text
src/Seltime.c -text
src/Set.c -text
src/Setgatt.c -text
src/Setgrid.c -text
src/Sethalo.c -text
src/Setmiss.c -text
src/Settime.c -text
src/Setzaxis.c -text
src/Showinfo.c -text
src/Sinfo.c -text
src/Sort.c -text
src/Specinfo.c -text
src/Spectral.c -text
src/Split.c -text
src/Splitrec.c -text
src/Splittime.c -text
src/Splityear.c -text
src/Subtrend.c -text
src/Templates.c -text
src/Test.c -text
src/Timsort.c -text
src/Timstat.c -text
src/Trend.c -text
src/Trms.c -text
src/Vardup.c -text
src/Vargen.c -text
src/Varrms.c -text
src/Vertint.c -text
src/Vertstat.c -text
src/Wind.c -text
src/Writegrid.c -text
src/Writerandom.c -text
src/Ydaystat.c -text
src/Ymonarith.c -text
src/Ymonstat.c -text
src/Yseasstat.c -text
src/Zonstat.c -text
src/cdi.h -text
src/cdilib.c -text
src/cdo.c -text
src/cdo.h -text
src/cdo_int.h -text
src/cdo_pthread.c -text
src/cdo_vlist.c -text
src/color.c -text
src/color.h -text
src/commandline.c -text
src/config.h.in -text
src/dmemory.h -text
src/dtypes.h -text
src/error.h -text
src/exception.c -text
src/expr.c -text
src/expr.h -text
src/expr_lex.c -text
src/expr_yacc.c -text
src/expr_yacc.h -text
src/field.c -text
src/field.h -text
src/field2.c -text
src/fieldc.c -text
src/fieldmer.c -text
src/fieldzon.c -text
src/fourier.c -text
src/functs.h -text
src/grid.c -text
src/history.c -text
src/institution.c -text
src/interpol.c -text
src/interpol.h -text
src/julian.c -text
src/legendre.c -text
src/list.c -text
src/list.h -text
src/modules.c -text
src/modules.h -text
src/namelist.c -text
src/namelist.h -text
src/normal.c -text
src/operator_help.h -text
src/pipe.c -text
src/pipe.h -text
src/process.c -text
src/process.h -text
src/pstream.c -text
src/pstream.h -text
src/pstream_int.h -text
src/pthread_debug.c -text
src/pthread_debug.h -text
src/readline.c -text
src/realtime.c -text
src/remap.h -text
src/remaplib.c -text
src/specspace.c -text
src/specspace.h -text
src/table.c -text
src/timer.c -text
src/userlog.c -text
src/util.c -text
src/util.h -text
src/vinterp.c -text
src/vinterp.h -text
src/zaxis.c -text
